@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:white;
    font-family: 'Poppins', sans-serif;
}

.header{
    display:flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: darkgray ;
}

.header a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

h1{
    display:flex;
    justify-content: center;
    padding: 5%;
    color: #404E4D;
}

p{
    display: flex;
    justify-content: center;
    padding: 5%;
    color:#404E4D ;
    font-size: 30px;
}

.images2{
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
    padding-bottom: 7.7%;
}

.image-links img{
    width: 400px;
    height:300px;
}

.image-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer{
    width: 70%;
    margin: auto;
    background-color: lightgrey;
}

.footer{
    display:flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    border: 1px solid green;
    padding: 20px;
}

.footer a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}